.spinner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.documents {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.list {
  width: 65%;
  padding: 10px;
}

.card {
  width: 35%;
  padding: 10px;
  margin-bottom: 10px;
}
