.home {
  width: 100%;
  min-height: 100vh;
  grid-column: 1/13;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.btn {
  position: absolute;
  top: 10px;
  left: 1185px;
}

.list {
  width: 100%;
  height: 100%;
  padding-top: 50px;
}
